.Filebrowser-switcher {
  margin:0 -5px;
}

.Filebrowser-switcher::after,
.Filebrowser-switcher::after {
  display: table;
  content: "";
}
.Filebrowser-switcher::after {
  clear:both;
}

.Filebrowser-switch {
  float:left;
  padding:0 5px;
}

.Filebrowser-switchLink {
  color: tify_theme_color("gray", 500);
}

.Filebrowser-switchLink:active,
.Filebrowser-switchLink:focus,
.Filebrowser-switchLink:hover{
  color: tify_theme_color("gray", 900);
}

.Filebrowser-switch.selected  .Filebrowser-switchLink{
  color: tify_theme_color("gray", 900);
}