@import "./variables";

.Filebrowser-breadcrumb {
  flex-grow: 1;
  flex-shrink: 1;

  display: flex;
  column-gap: 5px;
  align-items: center;
  color: filebrowserColor(regular);
}

.Filebrowser-breadcrumbPart {
  margin: 0 2px 0 0;
  padding: 0;
  font-size: 14px;
  line-height: 1;

  + .Filebrowser-breadcrumbPart {
    position: relative;
    padding-left: 15px;

    &::before {
      position: absolute;
      top:50%;
      left:0;
      transform: translateY(-50%);
      padding: 0 1px;
      content: "/\00a0";
    }
  }
}

.Filebrowser-breadcrumbLink {
  display: block;
  text-decoration: none;
  background-color: filebrowserColor(transparent);
  border: none;
  cursor: pointer;

  &:focus,
  &:hover {
    color: filebrowserColor(regular);

    svg {
      fill: filebrowserColor(regular);
    }
  }

  &,
  &:active,
  &:visited {
    color: filebrowserColor(regular);

    svg {
      fill: filebrowserColor(regular);
    }
  }

  svg {
    width: 16px;
    height: 16px;
    pointer-events: none;
  }
}