.Filebrowser-finfo {
  border-bottom: solid 1px tify_theme_color("gray", 300);
}

.Filebrowser-finfoPreview {
  position:relative;
  display: block;
  margin: 10px auto;
  width: 100%;
  min-height: 150px;
}

.Filebrowser-finfoPreview .Filebrowser-spinner {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:1;
}

.Filebrowser-finfoHandlers {
  margin: 5px 0;
  border-bottom: solid 1px tify_theme_color("gray", 300);
  text-align:right;
}

.Filebrowser-finfoHandler {
  display:inline-block;
  padding:5px;
  z-index:10;
}

.Filebrowser-finfoHandlerLink {
  font-size: 11px;
  color: tify_theme_color("gray", 900);
}

.Filebrowser-finfoHandlerLink:active,
.Filebrowser-finfoHandlerLink:focus,
.Filebrowser-finfoHandlerLink:hover {
  color: tify_theme_color("gray", 700);
}


.Filebrowser-finfoAttrs {
  margin-bottom: 20px;
}

.Filebrowser-finfoAttr {
  font-size: 12px;
  line-height: 1.6;
  border-bottom: dotted 1px tify_theme_color("gray", 300);
}

.Filebrowser-finfoAttrLabel {
  margin: 0;
  display: inline-block;
  width: 40%;
}

.Filebrowser-finfoAction {
  margin-bottom: 15px;
}

.Filebrowser-finfoActionButton {
  text-align: center;
}