@import "./variables";

.Filebrowser {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 800px;
  background-color: filebrowserColor(white);
  border: solid 1px filebrowserColor(lighter);
}

// TITRE
.Filebrowser-title {
  font-size: 18px;
  color: filebrowserColor(regular);
}

// BOUTONS
a, button {
  &[class*=" Filebrowser-button"],
  &[class^="Filebrowser-button"] {
      display: inline-block;
      border: solid 2px filebrowserColor(regular);
      background-color: filebrowserColor(white);
      color: filebrowserColor(regular);
      font-weight: bold;
      font-size: 13px;
      line-height: 1;
      padding: 5px 20px;

      &:hover,
      &:focus {
        background-color: filebrowserColor(regular);
        color: filebrowserColor(white);
      }

      &,
      &:active,
      &:visited {
        background-color: filebrowserColor(white);
        color: filebrowserColor(regular);
      }
  }
}

.Filebrowser-button--submit {
  &:hover,
  &:focus {
    background-color: filebrowserColor(regular);
    color: filebrowserColor(white);
  }

  &,
  &:active,
  &:visited {
    background-color: filebrowserColor(white);
    color: filebrowserColor(regular);
  }
}

// INFOS
.Filebrowser-infoIcon {
  margin-bottom: 10px;
}

.Filebrowser-infos {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 10px;
}

.Filebrowser-info {
  display: flex;
  color:filebrowserColor(regular);
  flex-direction: row;
  font-size: 12px;
  text-align: left;
  border-bottom: dotted 1px filebrowserColor(lighter);
}

.Filebrowser-infoLabel {
  margin: 0;
  width: 40%;
  flex-grow: 0;
  flex-shrink: 0;
  font-weight: bold;
}

// FORM
.Filebrowser-formNotice {
  font-size: 13px;
}

.Filebrowser-formFields {
  margin-bottom: 10px;
  text-align: left;
  font-size:14px;

  input[type="text"] {
    width:100%;
    padding: 0.5em 1em;
    border: 1px solid filebrowserColor(regular);
    outline: none;
  }
}

/** OLD * /
.Filebrowser-button--valid {
  border: none;
  background-color: tify_theme_color("green", 600);
  color: tify_theme_color("white");
}

.Filebrowser-button--valid:hover,
.Filebrowser-button--valid:focus,
.Filebrowser-button--valid:active {
  background-color: tify_theme_color("green", 500);
}

.Filebrowser-button--cancel {
  border: none;
  background-color: tify_theme_color("red", 600);
  color: tify_theme_color("white");
}

.Filebrowser-button--cancel:hover,
.Filebrowser-button--cancel:focus,
.Filebrowser-button--cancel:active {
  background-color: tify_theme_color("red", 500);
}

.Filebrowser-button--toggle[aria-visible="true"] {
  display: none;
}

// ACTIONS
.Filebrowser-action {
  position: relative;
  margin-bottom: 15px;
}

.Filebrowser-action .Filebrowser-title {
  color: tify_theme_color("gray", 900);
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
  border-bottom: none;
}

.Filebrowser-action--toggleable {
  display: none;
}

.Filebrowser-actionNotices {
  font-size: 13px;
  line-height: 1.4;
  text-align: center;
}

.Filebrowser-actionClose {
  position: absolute;
  top: 0;
  right: 0;
  color: tify_theme_color("gray", 900);
  line-height: 1;
}

.Filebrowser-actionClose:active,
.Filebrowser-actionClose:focus,
.Filebrowser-actionClose:hover {
  color: tify_theme_color("gray", 700);
}

// ACTIONS > FORMULAIRE
.Filebrowser-actionFormFields {
  margin-bottom: 10px;
}

.Filebrowser-actionFormButtons {
  text-align: center;
}

// CONTENU DU REPERTOIRE
.Filebrowser-contentHeader .Filebrowser-switcher {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 10px;
  line-height: 50px;
  border-left: solid 1px tify_theme_color("gray", 300);
}

.Filebrowser-content.load::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.Filebrowser-contentFilePreview {
  position: relative;
  overflow: hidden;
}
 */