@import "./variables";

.Filebrowser-switcher {
  flex-grow: 0;
  flex-shrink: 0;
}

.Filebrowser-switcherToggle {
  background-color: filebrowserColor(transparent);
  border:none;
  cursor: pointer;
}

.Filebrowser-switcherToggleIcon {
  width:16px;
  height:16px;
  fill:filebrowserColor(regular);
  pointer-events: none;
}